body {
    max-width: 100vw;
    height: 100vh;
    display: flex;
}

a {
    text-decoration: none;
    color : #2B6CB0;
}

.section-left {
    width: 50%;
    height: 100%;
    background-color: #F7FAFC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-left__img {
    max-width: 400px;
}

.section-left__img img {
    width: 100%;
}

.section-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1A202C;
    font-family: 'Lato', sans-serif;
}

.section-right__content {
    max-width: 350px;
    width: 350px;
    padding: 0 20px;
}

.section-right__content a:hover{
    text-decoration: underline;
}

.section-right__content .content__titles {
    font-family: "Merriweather", serif;
    font-weight: 400;
    line-height: 1.8;
}

.content__titles h1 {
    font-size: 16px;
}

.content__titles h2 {
    font-size: 26px;
    font-weight: 700;
}

.content__inputs {
    display: flex;
    flex-direction: column;
    padding: 20px 0; 
}

.content__inputs input {
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    margin: 10px 0;
    outline: none;
}

.content__inputs input:focus {
    box-shadow: 0 0 1px 1px #04C35C;
}

.content__remember-pass {
    display: flex;
    justify-content: space-between;
}

.content__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
} 

.content__buttons button {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 500ms linear;
}

.content__buttons button:hover{
    scale: 1.02;
}

.content__buttons button:nth-child(1){
    background-color: #04C35C;   
}

.content__buttons button:nth-child(2){
    background-color: #1A202C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__buttons button:nth-child(2) img {
    margin-right: 10px;
}

.section-right__content .no-account {
    position: relative;
    display: flex;
    justify-content: center;
    top: 200px;
}

.no-account a {
    margin-left: 5px;
}

@media all and (max-width: 600px){
    .section-left{
        display: none;
    }

    .section-right {
        width: 100%;
    }

    .section-right__content .no-account{
        top: 80px;
    }
}